<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nathan's Personal Site</title>
    <link rel="stylesheet" href="Nathan's%20Personal%20Site_files/styles.css">
</head>
<body>
    <table cellspacing="20">
        <tbody><tr>
            <td><img src="Nathan's%20Personal%20Site_files/nathan.jpg" alt="Nathan" width="220" height="294"></td>
            <td>
                <h1>Nathan Touchton</h1>
                <p><em>Continuous learner who's trying to get an entry level programming job.</em></p>
                <br>
                <p>Hello! Welcome to my website! I currently work in IT 
for Blue Cross Blue Shield, but I want to get a job as a programmer. I 
started programming for fun, and I enjoyed it so much that I decided to 
make a career out of it.</p>
            </td>
        </tr>
    </tbody></table>
    <hr>
    <h3>Education and Experience</h3>
    <hr>
    <table cellspacing="10">
        <thead>
            <tr>
                <th>Year</th>
                <th>Work/Education</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2014</td>
                <td>Waukegan High School</td>
            </tr>
            <tr>
                <td>2016</td>
                <td>Certificate in Desktop Support Technician from <strong><a href="https://www.clcillinois.edu/" target="_blank">College of Lake County</a></strong></td>
            </tr>
            <tr>
                <td>2017-2021</td>
                <td>Worked at Walmart</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>A+ Certified</td>
            </tr>
            <tr>
                <td>2021-Present</td>
                <td>Working as a Service Desk Analyst for Blue Cross Blue Shield</td>
            </tr>
            <tr>
                <td>2019-Present</td>
                <td>Volunteering as a technical expert at Immanuel Church in Gurnee, IL</td>
            </tr>
            <tr>
                <td>2021-Present</td>
                <td>Learning programming</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <hr>
    <table cellspacing="10">
        <thead>
            <tr>
                <th>Skill</th>
                <th>Years of Experience</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Customer Service</td>
                <td>6 years</td>
            </tr>
            <tr>
                <td>IT/Computer Troubleshooting</td>
                <td>2 years</td>
            </tr>
            <tr>
                <td>Python Development</td>
                <td>1 year</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <h3>Links</h3>
    <hr>
    <a href="https://nathantouchton.github.io/CV-Website/hobbies.html">My Hobbies</a>
    <br>
    <a href="https://nathantouchton.github.io/CV-Website/links.html">Links</a>

</body></html>